<?xml version='1.0' encoding='utf-8'?>
<widget id="org.rti.olutindo_app" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>UBridge</name>
    <description>
        UBridge
    </description>
    <author email="chris@vetula.com" href="http://vetula.com">
        Chris Kelley
    </author>
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="load-url-timeout" value="60000" />
    <content src="index.html" />
    <preference name="com.urbanairship.production_app_key" value="aPkihJ2PT8mu6vIK-469XQ" />
    <preference name="com.urbanairship.production_app_secret" value="54M1qcLxTG2EPhZFYlGYPA" />
    <preference name="com.urbanairship.development_app_key" value="aPkihJ2PT8mu6vIK-469XQ" />
    <preference name="com.urbanairship.development_app_secret" value="54M1qcLxTG2EPhZFYlGYPA" />
    <preference name="com.urbanairship.in_production" value="false" />
    <preference name="com.urbanairship.gcm_sender" value="236344170537" />
</widget>
