<h2>Configuration</h2>
<span class="btn-group">
<table style="padding: 2px;">
	<tr>
		<td><button class="btn btn-small btn-inverse" data-hoodie-action="signup">Sign Up</button></td>
		<td>Sign up a new user</td>
	</tr>
    <tr>
        <td><a href="#" data-hoodie-action="signin">Sign In</a></td>
        <td>Login to the application - this enables sync with the master server.</td>
    </tr>
<!-- 	<tr> -->
<!-- 		<td><a href="#populate"><img src="images/system-users.png" alt="Populate" /></a></td> -->
<!-- 		<td>Populate Application with Test Data. Do not use this on a live system!.</td> -->
<!-- 	</tr> -->
</table>
    </span>