<div id="pagewidth-vert">
	<div id="search-results">
	    <form name="searchForm" id="search-results-form" onsubmit="return false;">
	        <table class="banner-home-vert" id="searchBarTable" width="100%">
	            <tbody>
	             <tr>
	                 <td style="vertical-align: top;">
		                 <input type="text" id="search_string" name="search_string" placeholder="Search:Phone" size="13"/>
                         <button id='form-search' value="Search" class="shiny-red">Search</button>
                         <button id='form-client'class="menu-blue" style="width: 60px;">New</button>
                         <button id='refreshButton'class="menu-blue" style="width: 70px;" onClick="document.location = 'index.html'">Refresh</button>
                     </td>
	             </tr>
                <tr id="advancedSearch">
                    <td style="vertical-align: top;">
                    <select id="department" data-optional="true" name="department">
                        <option value="">Filter by Department</option>
                        <option value="1">Admin</option>
                        <option value="7">Community Development</option>
                        <option value="6">Council</option>
                        <option value="3">Education</option>
                        <option value="2">Finance and Planning</option>
                        <option value="4">Health</option>
                        <option value="8">Natural Resources</option>
                        <option value="9">Production</option>
                        <option value="5">Works</option>
                    </select>
                    </td>
                </tr>
	        	</tbody>
	        </table>
	    </form>
        <div id="search-results-body-vert">
	       	<div id="search-results-list">
	       		<table id="incidents" width="100%" class="stripeMe">
					<thead>
						<tr>
							<th title="Priority"><strong>!</strong></th><th>Phone</th><th>Village</th><th>Dept.</th><th style="border-right:none;">Date</th>
						</tr>
					</thead>
					<tbody></tbody>
                </table>
                <table id="home-footer" width="100%">
                    <tr style="background-color: #6EA8E4;" id="noStripeMe">
                        <td>
                            <button class="menu-blue" onclick="window.location.href = '#config'">Sign In</button>
                        </td>
                        <td>
                            <strong>Status:</strong>
                        </td>
                        <td><img src="images/alert-low.png" title="Low Priority"> Low
                            <img src="images/alert-medium.png" title="Medium Priority"> Med.<br/>
                            <img src="images/alert-high.png" title="High Priority"> High
                            <img src="images/resolved.png" title="Resolved"> Resolved
                        </td>
                        <td>{{#if endkey}}<div id="nextLink" onmouseover="style.color='red';" onmouseout="style.color='#034AF3';">&gt;&gt;</div>{{/if}}</td>
                    </tr>
                </table>
	       	</div>
      	</div>
	</div>
</div>